<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="url" value="https://www.immi-moj.go.jp/immimail/datainput.php"/><!-- URL -->
    <add key="name" value="名前"/><!-- 自分の名前 -->
    <add key="sex" value="性別（男性・女性）"/><!-- 性別（男性・女性） -->
    <add key="age" value="年齢"/><!-- 年齢 -->
    <add key="contry" value="県名"/><!-- 県名 -->
    <add key="address" value="県名以下住所"/><!-- 県名以下住所 -->
    <add key="phone" value="電話番号（-あり半角）"/><!-- 電話番号（-あり半角） -->
    <add key="email" value="メールアドレス"/><!-- メールアドレス -->
    <add key="nationality" value="韓国または北朝鮮"/><!-- 通報相手国籍 -->
    <add key="details" value="不法滞在の可能性"/><!-- 通報動機 -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
